<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
     <h2 class="text-center">フォロー中のユーザー</h2>
      <% if @followings.exists? %>
        <% @followings.each do |user| %>
          <%= render "users/index", user: user %>
        <% end %>
      <% else %>
        <h2 class="text-center mt-5">ユーザーはいません</h2>
         <p class="text-center">
          まずはだれかをフォローしに行こう！！<br/>
          全てはそこから始まるのである
         </p>
      <% end %>
    </div>
  </div>
</div>