<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
     <h2 class="text-center">フォロー中のユーザー</h2>
      <% if @followings.exists? %>
        <% @followings.each do |user| %>
          <%= render "users/index", user: user %>
        <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>