
      <h3 class="text-center">通知内容</h3>
        <%= link_to notification_destroy_all_path(@notifications, current_user), method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
        <% end %>

        <div class="users-index mx-auto m-3">
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
        <%= render "notification", notifications: notifications %>
        <% else %>
        <h2 class="text-center">通知はありません</h2>
        <% end %>
        </div>

