<div class="container">
  <div class="row mx-auto">
    <div class="col-sm-12 mx-auto">
          <% @users.each do |user| %>
          <%# 異性のみ表示する設定になっています。部分テンプレート%>
            <% if current_user.sex != user.sex %>
              <%= render "users/index", user: user %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>