<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto text-center">
      
      <h2>退会確認画面・・ﾟ(ﾟ´Д｀ﾟ)ﾟ</h2>
      <p>退会されてしまうと、今まで投稿したデータや、<br/>イイネ、フォローした人などのデータが消えてしまいます。。
      データの復帰もすることができません・・・(;>_<;)<br/>
      もしそれでも辞めるというのなら下記のボタンをクリックしてください・・(><)</p>
      <%= link_to "退会する・・・", user_withdraw_path(current_user), method: :patch, class: "btn btn-danger" %>
      <%= link_to "やっぱり続ける（￣ー￣）ﾆﾔﾘ", users_path, class: "btn btn-success" %>
      
    </div>
  </div>
</div>