    <% videos.each do |video| %>
     <% if video.video.attached? %>
      <div class="row mx-auto mt-12">
        <!--動画を埋め込むコード,typeはmp４としていて、controlsにて動画を利用しやすくしている。-->
        <!--<%# video_tag @video.video %>と書いてしまうと、データを /app/assets/ の方に探しに行ってしまうのでrails_blob_pathとしている-->
        <div class="col-sm-4">
         <video width="200" height="150" src="<%= rails_blob_path(video.video) %>" type="/mp4" controls ></video><br/>
         <div>
          <% if current_user.id == video.user_id %>
           <%= link_to "削除", video_path(video), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
          <% end %>
         </div>
        </div>
        <div calss="col-sm-4">
         <p class="pt-2"><strong>タイトル<br/></strong>「<%= link_to video.title, user_path(video.user_id) %>」</p>
         <p><strong>説明文<br/></strong>「<%= video.introduction %>」</p>
        </div>
      </div>
     <% else %>
      <h2 class="text-center">まだ動画は投稿されていません！！</h2>
     <% end %>
    <% end %>