  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
    　　<h2 class="text-center mb-5">MY動画</h2>
    　　<%= render "videos/index", videos: @videos %>
      </div>
    </div>
  </div>



