  <div class="container">
    <div class="row">
      <div class="col-sm-12 max-auto">
  --------------------------------------------------
  --------------------------------------------------
  　　  <h2><%= @name %>様</h2>
  --------------------------------------------------
      <p>この度はGetchingアプリへ登録<br/>
      していただき感謝の限りです(´-｀*)<br/>

      このアプリは、人の幸せに少しでも<br/>
      役立てたらなという気持ちで作成し<br/>
      ました。(∀｀*ゞ)ｴﾍﾍ<br/>

      <%= @name %>様にも幸せが訪れることを<br/>
      祈っております(>_<)<br/>

      何か不具合がある際には、<br/>
      マイページからの、お問い合わせにて<br/>
      対応させていただきますので、ご要望<br/>
      等あれば気軽に連絡お願いします^^<br/>

      Getching事務局</p>
  ----------------------------------------------------
  ----------------------------------------------------

      </div>
    </div>
  </div>