    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
            <h1 class="text-center fas fa-exclamation-triangle faa-flash animated">このサイトのご利用方法</h1>
            <h3 class="text-left">
                 ①18歳以上の方は、ご利用の方おやめください。<br/>
                 ②誹謗中傷コメントがなくなるように、コメントの削除機能はな<br />
                 　くしておりますのでしておりますので、コメントの際は気を付けてお願いします<br/>
                 ③退会機能をつけており、一度退会されますと再度同じメールアドレスで
                   ログインできないようになっております。<br/>
                 ④投稿記事の際は、なるべくgameに関する内容でお願いします。<br/>
                 ⑥新規登録の際のplaying_gameの欄には（アプリの正式名所）でお願いします。<br/>
                 ⑦結婚やオフ会イベントなどの報告は、お問い合わせフォームより報告の方( ｀・∀・´)ﾉﾖﾛｼｸｵﾈｶﾞｲｼﾏｽ<br/>
                 ⑧確認次第、こちらよりポイント、特典など付与させていただこうと考えております。<br/>
            </h3>
             <%= link_to "ご利用方法を確認しました", users_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>