<div class="container">
  <div clss="row mx-auto">
    <div class="col-sm-12">
        <h1 class="text-center">ランキングTOP5！</h1>
          <div class="row">
            <%= render "posts/index", posts: @posts %>
          </div>
      </div>
   </div>
</div>


