// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//デフォルトで用意されているボタンを消すためのコード
.item_image_btn{
    display: none;
}
// これがデフォルトのボタンに変わって新しく作る、ボタン
#img_field {
  display: inline-block;
  font-size: 0px;
  font-style: inherit;
  color: white;
  background-color: #5bc0de;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}